@import '~bootstrap/scss/bootstrap';

header {
    height: 60px;
}

.main-wrapper {
    height: calc(100vh - 60px);


    .cst-content {
        height: 100%;
        background-image: url('https://us.123rf.com/450wm/gradplanet/gradplanet2307/gradplanet230702467/209860078-sfumatura-di-colore-blu-rosso-scuro-per-sfondi-o-sfondi-del-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}


.cst-bg {
    background-color: #03282B;
}

aside {
    width: 250px;
    height: 100%;

    ul {
        list-style: none;
        a {
            color: white;
            text-decoration: none;

            &:hover{

                text-decoration: underline;

            }
        }

    }
}
